<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Index</th>
      <td>int64</td>
    </tr>
    <tr>
      <th>Price</th>
      <td>int64</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>int64</td>
    </tr>
    <tr>
      <th>Photo</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Nationality</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Flag</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Overall</th>
      <td>int64</td>
    </tr>
    <tr>
      <th>Potential</th>
      <td>int64</td>
    </tr>
    <tr>
      <th>Club</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Club Logo</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Value</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Wage</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Special</th>
      <td>int64</td>
    </tr>
    <tr>
      <th>Preferred Foot</th>
      <td>object</td>
    </tr>
    <tr>
      <th>International Reputation</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Weak Foot</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Skill Moves</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Work Rate</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Body Type</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Real Face</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Position</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Jersey Number</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Joined</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Loaned From</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Contract Valid Until</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Height</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Weight</th>
      <td>object</td>
    </tr>
    <tr>
      <th>LS</th>
      <td>object</td>
    </tr>
    <tr>
      <th>ST</th>
      <td>object</td>
    </tr>
    <tr>
      <th>RS</th>
      <td>object</td>
    </tr>
    <tr>
      <th>LW</th>
      <td>object</td>
    </tr>
    <tr>
      <th>LF</th>
      <td>object</td>
    </tr>
    <tr>
      <th>CF</th>
      <td>object</td>
    </tr>
    <tr>
      <th>RF</th>
      <td>object</td>
    </tr>
    <tr>
      <th>RW</th>
      <td>object</td>
    </tr>
    <tr>
      <th>LAM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>CAM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>RAM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>LM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>LCM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>CM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>RCM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>RM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>LWB</th>
      <td>object</td>
    </tr>
    <tr>
      <th>LDM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>CDM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>RDM</th>
      <td>object</td>
    </tr>
    <tr>
      <th>RWB</th>
      <td>object</td>
    </tr>
    <tr>
      <th>LB</th>
      <td>object</td>
    </tr>
    <tr>
      <th>LCB</th>
      <td>object</td>
    </tr>
    <tr>
      <th>CB</th>
      <td>object</td>
    </tr>
    <tr>
      <th>RCB</th>
      <td>object</td>
    </tr>
    <tr>
      <th>RB</th>
      <td>object</td>
    </tr>
    <tr>
      <th>Crossing</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Finishing</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>HeadingAccuracy</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>ShortPassing</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Volleys</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Dribbling</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Curve</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>FKAccuracy</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>LongPassing</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>BallControl</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Acceleration</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>SprintSpeed</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Agility</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Reactions</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Balance</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>ShotPower</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Jumping</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Stamina</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Strength</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>LongShots</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Aggression</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Interceptions</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Positioning</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Vision</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Penalties</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Composure</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Marking</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>StandingTackle</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>SlidingTackle</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>GKDiving</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>GKHandling</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>GKKicking</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>GKPositioning</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>GKReflexes</th>
      <td>float64</td>
    </tr>
    <tr>
      <th>Release Clause</th>
      <td>object</td>
    </tr>
  </tbody>
</table>